* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: #dddddd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.topnav a .nav-logo{
  margin-top: 5px;
  max-height: 30px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-left: 40px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
}

.topnav .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav input[type="text"] {
  padding: 6px;
  font-size: 20px;
  text-align: center;
  width: 600px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.topnav .search-container button {
  padding: 6px;
  text-align: center;
  background-color: #a1a1a1;
  font-size: 21px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.topnav .profile{
  font-size: larger;
}

.topnav .search-container .submit:hover {
  background: #ccc;
}

.topnav .profile:hover{
  color: #6a6c6c;
  font-weight: bolder;

}

.topnav input[type="text"] {
  border: 1px solid #ccc;
}

.logo{
  height: 5px;
}

.bottomnav {
  background-color: #c4c3c3;
  height: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
}

.bottomnav a {
  color: black;
  text-decoration: none;
  margin-left: 25px;
  padding: 4px;
}

/* header close */











/* ----------------blog open-------------------  */


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

}

/* .banner {
  height: 600px;
  position: relative;
} */

.banner {
  min-height: 270px;
  height: 380px;
  position: relative
}

.banner .banner-image {
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  
}

.banner .banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.banner:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #232323 42.19%, rgba(35, 35, 35, .25) 100%);
}


.banner .container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center
}


.banner .container .banner-description .blog-heading {
  font-weight: 700;
  margin-left: 160px;
  font-size: 65px;
}




.blog-container {
  background-color: white;
  color: black;
  align-content: center;
  width: 75%;
  text-align: justify;
  /* margin: 10px 160px 10px 160px; */
  margin: 10px 200px 10px 200px;
  /* padding: 0 30px; */
   /* box-sizing: border-box;
  display: block;
  flex-wrap: wrap  */
  
}


.blog-content{
background-color: #9c9f9f;

}
.div1 {
  height: 1200px;
  width: 700px;
   /* background-color: orange;  */
  float: left;
  /* margin-left: 90px; */
}




.div2 {
  height: 1200px;
  width: 400px;
  /* background-color: green; */
  /* margin-right: -20px; */
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;

} 

.heading2{
  font-size: 35px;
  font-weight: 100;
}
.div2 img {
  max-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* margin-top: 400px; */
}


.div3 {
  height: 900px;
  width: 400px;
  /* background-color: blue; */
/* margin-left: -20px; */
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.div3 img {
  max-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;

}

.div4 {
  height: 900px;
  width: 700px;
  /* background-color: yellow; */
  /* margin-right: -20px; */
  float: right;
  /* margin-top: -300px; */
  align-content: center;
}

.div5 {
  height: 1000px;
  width: 700px;
  /* background-color: rosybrown; */
  float: left;
  flex-direction: column;
}


.div6 {
  height: 1000px;
  width: 400px;
  /* background-color: powderblue; */
  /* margin-right: -20px; */
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;

} 
.div6 img {
  max-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.div7 {
  height: 900px;
  width: 400px;
  /* background-color: red; */
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.div7 img {
  max-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.div8 {
  height: 900px;
  width: 700px;
  /* background-color: violet; */
  /* margin-right: -20px; */
  float: right;
  align-content: center;
} */

.blog_container p {
  font-size: clamp(12px, 1vw, 16px); /* This line ensures responsive font size */
  font-weight: 400;
  line-height: 1.75;
  width: 100%;
  margin: 0 auto;
}



/* @media (max-width: 767px) {
  .blog_container p{
      width: 100%;
  }
} */

.div1, .div4, .div5, .div8 h4 {
font-size: 25px;
}

.div1, .div4, .div5, .div8 ul {
  font-size: 20px; 
  font-weight: 300;

}













































/* footer */

footer{
  margin-top: auto;
  
}


.foot-panal1{
  background-color: #9c9f9f;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;

}

.foot-panal2{
  background-color: #51575d;
  height: 300px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

ul{
  margin-top: 20px;
}

ul a{
display: flex;
font-size: 15px;
margin-top: 10px;
color: #DDDDDD;
}

.foot-panal3{
  background-color: #b2b2b2;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo{
  height: 50px;
}

.foot-panal4{
  background-color: #3c3d3d;
  color: white;
  height: 80px;
  font-size: 11px;
  text-align: center;

}

.page{
padding-top: 25px;
}

.copyright{
padding-top: 5px;
}



/* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
} */

 /* main {
  flex-grow: 1;
}  */

